@page "/encomendas"

<PageTitle>Encomendas</PageTitle>

<div class="row d-flex flex-wrap justify-content-center">
    <div class="container mt-3 col">
        <div class="card w-75 h-100 d-flex flex-column">
            <img class="card-img-top img-thumbnail" src="images/16RAM.jpg" alt="Card image" style="object-fit: cover; height: 200px;">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary mt-auto">See Profile</a>
            </div>
        </div>
    </div>
    <div class="container mt-3 col">
        <div class="card w-75 h-100 d-flex flex-column">
            <img class="card-img-top img-thumbnail" src="images/1TBSSD.jpg" alt="Card image" style="object-fit: cover; height: 200px;">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary mt-auto">See Profile</a>
            </div>
        </div>
    </div>
    <div class="container mt-3 col">
        <div class="card w-75 h-100 d-flex flex-column">
            <img class="card-img-top img-thumbnail" src="images/RTX3050.png" alt="Card image" style="object-fit: cover; height: 200px;">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary mt-auto">See Profile</a>
            </div>
        </div>
    </div>
</div>
